<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Body:</strong>
  <%= simple_format(comment.body) %>
</p>

<p>
  <%= link_to 'Destroy', movie_comment_path(movie_id: comment.movie.id, id: comment.id), method: :delete, data: {confirm: 'Are you sure?'} %>
  <%= link_to 'Edit', edit_movie_comment_path(movie_id: comment.movie.id, id: comment.id) %>
</p>

<hr />
