<h1>Listing movies</h1>

  <table>
    <tr>
      <th>Tytuł</th>
      <th>Rok produkcji</th>
      <th>Czas trwania</th>
      <th>Opis</th>
    </tr>

  <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.tytuł %></td>
      <td><%= movie.rok_produkcji %></td>
      <td><%= link_to 'Show', movie_path(movie) %></td>
    </tr>
  <% end %>
</table>
