<h1>FILMOVO</h1>
<p>Movies descriptions, ratings, opinions</p>
<!-- <%= link_to 'My movies', "/movies" %> -->
<%= link_to 'Movies Gallery', controller: "movies" %>
<!-- <%= link_to 'My movies', movies_path %> -->
