<div class="jumbotron">
  <h1 class="display-4">FILMOVO</h1>
    <p class="lead">Movies descriptions, ratings, opinions</p>
  <hr class="my-4">
  <%= link_to 'Movies Gallery', controller: "movies" %>
  <%= link_to 'Genres', controller: "genres" %>
</div>
