<h1>FILMOVO</h1>
<p>Filmy, opinie, rankingi, opisy</p>
<!-- <%= link_to 'My movies', "/movies" %> -->
<%= link_to 'Galeria filmów', controller: "movies" %>
<!-- <%= link_to 'My movies', movies_path %> -->
